h1 {
    text-align: left;
    color: #060505;
    font-style: initial;
    font-family: 'Saira Stencil One', cursive;
    background-color: #8bc9c7;
    background-size: 10px;
    color: #060505;
}
img{
    width: 28%;
    float: centre;
}
body{
    background-image:
    url('https://images.unsplash.com/photo-1566221422687-88c4140886c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80s://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    text-align: center;
    align-items: flex-start;
    display: block;
    font-size: 25px;
}
p{
   font-size: 25px;
}
.mine{
    font-size:20px;
}
#home{
    font-style: italic;
    text-align: center;
    font-size: 55px;
}
h2{
    font-display: fallback;
    font-weight: 400;
    font-family: 'Modak';
}
#real{
    font-family: 'Modak';
    font-size-adjust: inherit;
    font-size: 1em;
}
.metro{
    font-family: 'Dancing Script', cursive;
}